# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
/env
/venv
*.egg-info

# Logs
*.log
logs/
*.out

# Temporary files
*.tmp
temp/
tmp/
/tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific
.idea/
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~
sdist/
dist/
build/